marquee {
	background-color: var(--base);	
	color: white;
	font-size: 30px;
	padding: 20px;
}
a{
	text-decoration: none;
	font-size: 30px;
	color: var(--base);
	border:3px solid var(--base);
	margin: 10px;
	text-transform: uppercase;
}
img{
  width:150px;
  height:180px;
  margin: 15px 75px 0px 75px;
  filter: blur(var(--blur));

}
input[type=file]{
padding:10px;
background:#2d2d2d;
background-size: auto 100%;
}
.card {
	padding-top: 80px;
	height:380px;
	width: 300px;
	border:var(--spacing) solid var(--base);
	margin: 0px auto;
	border-radius: 20px;
	background-color: white;
	background-image: url(back.jpg);
	background-size: 100% 100%;
}
:root {
      --base: #68B867;
      --spacing: 2px;
      --blur: 1px;
    }
.card svg {
	margin: 10px 50px 0px 50px;
	height: 70px;
	width: 200px;var(--base)
	position: static;
	fill:black;
}
#demo {
	font-size: 25px;
	text-align: center;
	color: var(--base);
	margin-top: 0px;
	margin-bottom: 0px;
}
#demo1 {
	font-size: 20px;
	text-align: center;
	color: var(--base);
	margin: 0px;
}
.add {
	text-align: center;
	width: 200px;
	background-color: var(--base);
	color: white;
	padding: 10px 50px;
	margin-bottom: 8px;

}
.input {
	text-align: center;
	margin: 10px;
}
.input input,button,#upcnumber, #clear{
	font-size: 20px;
	margin: 5px 0px ;
}
.ins {
	font-size: 10px;
	text-align: center;
	margin: 0px;
}
#upcCode {
	height: 20px;
}
#btnSave {
	margin-top: 10px;
	text-align: center;
}
body {
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
}
